#intro {
}

#profile {
    height: 156px;
    width: 156px;
    margin-left: auto;
    margin-right: auto;
}

#spotify-widget {
    border-radius: 12px;
    margin-left: 1.5vw;
    width: auto;
    height: 352;
}

#repo {
}
