<script>
    // $("#button").click(function () {
    const Webamp = window.Webamp;

    if (Webamp.browserIsSupported()) {
        new Webamp({
            availableSkins: [
                {
                    url: "/assets/webamp/ducks_in_a_row.wsz",
                    name: "Ducks in a row",
                },
                {
                    url: "/assets/webamp/pokemon_silver.wsz",
                    name: "Pokemon",
                },
                {
                    url: "/assets/webamp/calvin_and_hobbes.wsz",
                    name: "Calvin and Hobbes",
                },
            ],

            initialTracks: [
                {
                    metaData: {
                        title: "Bags",
                        artist: "Clairo",
                    },
                    url: "/assets/music/bags.mp3",
                },
                {
                    metaData: {
                        title: "cowboy like me",
                        artist: "Taylor Swift",
                    },
                    url: "/assets/music/cowboylikeme.mp3",
                },
                {
                    metaData: {
                        title: "Sunflower",
                        artist: "Post Malone, Swae Lee",
                    },
                    url: "/assets/music/sunflower.mp3",
                },
                {
                    metaData: {
                        title: "Littleroot Town",
                        artist: "Pokemon Ruby/Sapphire/Emerald",
                    },
                    url: "/assets/music/littleroot.mp3",
                },
            ],

            // windowLayout: {
            //     main: {
            //         position: { top: 0, left: 0 },
            //         shadeMode: true,
            //         closed: false,
            //     },
            //     equalizer: {
            //         position: { top: 0, left: 0 },
            //         shadeMode: true,
            //         closed: false,
            //     },
            //     playlist: {
            //         position: { top: 0, left: 0 },
            //         shadeMode: true,
            //         // Number of additional sprites by which to expand the window.
            //         size: { extraHeight: 1, extraHeight: 10 },
            //         closed: false,
            //     },
            // },

            initialSkin: {
                url: "/assets/webamp/calvin_and_hobbes.wsz",
            },
        }).renderWhenReady(document.getElementById("webamp-container"));
    } else {
        // Perhaps you could show some simpler player in this case.
    }
    // });
</script>
