<script>
    // $("#button").click(function () {
    const Webamp = window.Webamp;

    if (Webamp.browserIsSupported()) {
        new Webamp({
            availableSkins: [
                {
                    url: "/assets/webamp/ducks_in_a_row.wsz",
                    name: "Ducks in a row",
                },
                {
                    url: "/assets/webamp/pokemon_silver.wsz",
                    name: "Pokemon",
                },
                {
                    url: "/assets/webamp/calvin_and_hobbes.wsz",
                    name: "Calvin and Hobbes",
                },
            ],

            initialTracks: [
                {
                    metaData: {
                        artist: "DJ Mike Llama",
                        title: "Llama Whippin' Intro",
                    },
                    url: "://cdn.jsdelivr.net/gh/captbaritone/webamp@43434d82cfe0e37286dbbe0666072dc3190a83bc/mp3/llama-2.91.mp3",
                },
                {
                    metaData: {
                        title: "Heroines",
                        artist: "Diablo Swing Orchestra",
                    },
                    url: "https://raw.githubusercontent.com/captbaritone/webamp-music/4b556fbf/Diablo_Swing_Orchestra_-_01_-_Heroines.mp3",
                    duration: 322.612245,
                },
                {
                    metaData: {
                        title: "We Are Going To Eclecfunk Your Ass",
                        artist: "Eclectek",
                    },
                    url: "https://raw.githubusercontent.com/captbaritone/webamp-music/4b556fbf/Eclectek_-_02_-_We_Are_Going_To_Eclecfunk_Your_Ass.mp3",
                    duration: 190.093061,
                },
            ],

            // windowLayout: {
            //     main: {
            //         position: { top: 0, left: 0 },
            //         shadeMode: true,
            //         closed: false,
            //     },
            //     equalizer: {
            //         position: { top: 0, left: 0 },
            //         shadeMode: true,
            //         closed: false,
            //     },
            //     playlist: {
            //         position: { top: 0, left: 0 },
            //         shadeMode: true,
            //         // Number of additional sprites by which to expand the window.
            //         size: { extraHeight: 1, extraHeight: 10 },
            //         closed: false,
            //     },
            // },

            initialSkin: {
                url: "/assets/webamp/calvin_and_hobbes.wsz",
            },
        }).renderWhenReady(document.getElementById("webamp-container"));
    } else {
        // Perhaps you could show some simpler player in this case.
    }
    // });
</script>
