<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body>
        <div class="header">
            <div class="">
                <a href="/">
                    <h1>Dylan Tian</h1>
                </a>
            </div>
            <div class="navbar">
                <a href="resume.pdf" target="_blank"
                    >resume<img src="/img/icons/hyperlink.svg" alt="resume" />
                </a>
                <a href="/about">about + work</a>
                <a href="/misc">nonsense</a>
                <a href="/projects">projects</a>
                <a href="mailto:dyl.ltian@gmail.com" target="_blank">
                    <i class="fa-regular fa-envelope"></i>
                </a>
                <a href="https://instagram.com/dylantian__/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://github.com/dylleealt" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://linkedin.com/in/dylan-tian" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
        </div>

        <div class="container">{{ content }}</div>

        {% include scripts.html %}
    </body>
</html>
