<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body>
        <div class="header">
            <div class="name">
                <a href="/">
                    <h1>Dylan Tian</h1>
                </a>
            </div>
            <div class="navbar">
                <a class="nav-btn" href="resume.pdf" target="_blank">
                    <img
                        id="link-svg"
                        src="/assets/icons/hyperlink.svg"
                        alt="resume"
                        width="20px"
                        height="auto" />
                </a>
                <a class="nav-btn" href="/about">about + work</a>
                <a class="nav-btn" href="/misc">nonsense</a>
                <a class="nav-btn" href="/projects">projects</a>
                <a
                    class="nav-btn"
                    href="mailto:dyl.ltian@gmail.com"
                    target="_blank">
                    <i class="fa-regular fa-envelope"></i>
                </a>
                <a class="nav-btn" href="https://instagram.com/dylantian__/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a
                    class="nav-btn"
                    href="https://github.com/dylleealt"
                    target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a
                    class="nav-btn"
                    href="https://linkedin.com/in/dylan-tian"
                    target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
        </div>

        <div class="container">{{ content }}</div>

        {% include scripts.html %}
    </body>
</html>
